.card-Nav {
  border-radius: 0;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  /* margin-bottom: 30px; */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: white;
}
.rectangle-nav-header {
  background-color: #ffffff;
  width: 1260px;
  height: 57px;
}
.dashboards {
  color: #2561a8;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}
.my-tickets {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
.claim-space {
  margin-top: -2.7%;
  margin-left: 44%;
}
.claim-label {
  margin-left: 333%;
}
.knowledge-base {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
.bitmap {
  background-color: #4a4a4a;
  width: 26px;
  height: 26px;
}
.bitmap {
  width: 25px;
  height: 25px;
}
.oval-4 {
  background-color: #ffb629;
  border-radius: 100%;
  width: 19px;
  height: 19px;
}
.card .card-header1 {
  background-color: transparent;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
  /* padding: 3px 0px; */
}
.main-header {
  width: 5%;
  background: "#2561A8";
  color: "#FFFFFF";
  /* padding-left: '1.5%' */
}
.rectangle-2 {
  background-color: #2561a8;
  width: 63px;
  height: 57px;
}
.rectangle-1 {
  background-color: #ffffff;
  width: auto;
  height: 57px;
  margin: 20px;
}
.card-row {
  height: 55px;
}
.er {
  height: 56px;
  width: 63px;
  background: #2561a8;
  color: white;
  padding-left: 1.5%;
}
.er-label {
  font-size: 19px;
  font-family: sans-serif;
  margin-top: 13px;
}
.rectangle-2 {
  background-color: #2561a8;
  width: 63px;
  height: 57px;
}
.dashboards-header {
  color: #2561a8;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  width: 11%;
}
.my-tickets {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  width: 10%;
}
.knowledge-base {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
.bitmap {
  background-color: #2561a8;
  width: 21px;
  height: 21px;
}
.bitmap1 {
  width: 26px;
  height: 26px;
  margin-top: 15px;
}
.bitmap2 {
  width: 26px;
  height: 26px;
  margin-top: -23px;
  margin-left: 40px;
}
.bitmap3 {
  width: 24px;
  height: 24px;
  margin-top: -29px;
  margin-left: 80px;
}
.bitmap4 {
  width: 24px;
  height: 24px;
  margin-top: -23px;
  margin-left: 116px;
}
.bitmap5 {
  width: 30px;
  height: 30px;
  margin-top: -25px;
  margin-left: 165px;
  background-color: #d8d8d8;
  border: 1px solid #979797;
  border-radius: 50%;
  font-size: 10px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
}
.main-nav {
  margin-left: 17.5%;
}
.sign-in {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
  text-align: left;
  display: block;
  margin-bottom: 30px;
}
.dashboardImg1 {
  width: 21px;
  height: 21px;
  /* margin-left: 68%;
  margin-top: -78%; */
}
.myTicket {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
.knowledgeNav {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  margin-top: 5px;
}
.calImg {
  width: 26px;
  height: 26px;
}
.chatImg {
  width: 26px;
  height: 26px;
}
.notifi {
  width: 26px;
  height: 26px;
}
.setting {
  width: 26px;
  height: 26px;
}
.dashboards-label1 {
  font-size: 17px;
  vertical-align: middle;
  padding-left: 3px;
  /* margin-top: -117%;
  margin-left: 100px; */
}
.nav-tab1 {
  margin-top: -3%;
  margin-left: 28%;
  position: relative;
  z-index: 1;
}
.nav-tab2 {
  margin-top: -3.5%;
  margin-left: 455px;
}
.nav-tab3 {
  margin-top: -41px;
  margin-left: 68px;
  position: relative;
  z-index: 1;
}
.ticket-label {
  font-size: 18px;
  vertical-align: -webkit-baseline-middle;
  margin-top: -47px;
  margin-left: 23px;
}
.knowledge-label {
  font-size: 18px;
  vertical-align: -webkit-baseline-middle;
  margin-top: -5px;
}
/***** For Model *****/
.Model {
  position: absolute;
  top: 30%;
  left: 65%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 536px;
  height: 220px;
}
.new-tickets-assigned {
  color: #000000;
  font-family: Lato-Light;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  width: 243px;
  text-align: left;
  padding-left: 15px;
}
.view-tickets {
  color: #2561a8;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  width: 121px;
  text-align: left;
}
.rectangle-2 {
  background-color: #2561a8;
  width: 33px;
  height: 27px;
}
.lable05 {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  margin-top: 12px;
}
.rowpadding {
  padding-left: 25px;
}
.viewticketspeadding {
  padding-left: 30px;
}
.labledata {
  padding-left: 9px;
  padding-top: 5px;
}
/************My Ticket Header******************/
.headphone {
  width: 21.6px;
  height: 25.2px;
  margin-right: 7px;
}
.loading-rectangle {
  background-color: #ecf2f4;
  border: 1px solid #2561a8;
  border-radius: 6px;
  width: 22px;
  height: 22px;
  padding: 3px;
  margin-left: 115px;
  margin-top: -104px;
}
.oval-55 {
  background-color: #f8e71c;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 6px;
}
.oval-head {
  padding-left: 73%;
  margin-top: -39px;
}
.naman-r {
  color: #000000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  padding-left: 6px;
}
.down-header {
  width: 24px;
  height: 13px;
  padding-left: 7px;
}
.head-header {
  background-color: #ecf2f4;
  width: auto;
  height: 57px;
}
.head-header-1 {
  padding: 15px 30px;
}
.id-abc-1234 {
  color: #4a4a4a;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
.updated-2-d-ago {
  color: #9b9b9b;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  display: block;
}
/****************My Ticket********************/
.main-content1 {
  padding: 0px 20px;
}
.rectangle-box {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  width: auto;
  height: 159px;
  margin: 15px;
  padding: 15px;
}
.rectangle2 {
  background-color: #ecf2f4;
  width: 1280px;
  height: 57px;
}
.rectangle-3 {
  background-color: #ffffff;
  border-radius: 4px;
  width: auto;
  height: auto;
  /* margin: 32px; */
  padding: 30px;
}
.card-rectangle {
  background: #f5f8f9;
  padding: 1px;
}
.ticket-title-where {
  color: #000000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left: 3px;
}
.ticket-details-wher {
  color: #000000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  width: 1227px;
  text-align: left;
}
.card .card-header-1 {
  background-color: transparent;
  border-bottom: 1px solid #f1f1f1;
  padding: 20px 25px;
  position: relative;
}
.messages-04 {
  color: #2561a8;
  font-family: unset;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}
.msg-row {
  padding-top: 23px;
}
.notes-00 {
  color: #4a4a4a;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding-right: 5%;
  margin-left: -46px;
}
.task-03 {
  color: #4a4a4a;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding-right: 5%;
  margin-left: -122px;
}
.claim-00 {
  color: #4a4a4a;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding-right: 5%;
  margin-left: -202px;
}
.user-label {
  padding-right: 23%;
}
.message-label {
  padding-right: 65%;
  margin-left: 3%;
}
.action-label {
  margin-left: 110%;
}
.line-4 {
  text-align: center;
  display: block;
}
/***************ToDAY 02*******************/
.oval-5 {
  background-color: #7ed321;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.solved-by-naman-r {
  color: #000000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-right: 8%;
  padding-left: 1%;
  margin-top: 6px;
}
.i-have-solved-this-i {
  color: #4a4a4a;
  font-family: unset;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-left: -13%;
}
.smg-Img {
  width: 22px;
  height: 16px;
  margin: 7px;
  margin-left: 13%;
}
.up {
  width: 18px;
  height: 18px;
}
.up-1 {
  width: 22px;
  height: 16px;
  margin: 7px;
  margin-left: 11%;
}
.comment {
  color: #2561a8;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-left: 2%;
  margin-left: 37%;
}
.rectangle-4 {
  background-color: #fafafa;
  width: 693px;
  height: 253px;
}
.rectangle-44 {
  background-color: #ffffff;
  width: 563px;
  height: 206px;
}
.btn-submit {
  margin-top: -6px;
  padding-left: 8px;
}
.btn-primary1 {
  color: #fff;
  background-color: #2561a8;
  border-color: #2561a8;
  margin-left: 3.7px;
}
.dropdown-menu.show {
  display: block;
}
.mobile-number {
  color: #9b9b9b;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 2px;
  text-align: left;
}
.mobile-no {
  color: #000000;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  padding-right: 5px;
}
.eyeImg {
  background-color: #ecf2f4;
  border: 1px solid #2561a8;
  border-radius: 6px;
  width: 23px;
  height: 22px;
  padding: 4px;
}
.billImg {
  background-color: #ecf2f4;
  border: 1px solid #2561a8;
  border-radius: 6px;
  width: 23px;
  height: 22px;
  padding: 4px;
}
.bill-1 {
  margin-top: -25px;
  padding-left: 147px;
}
.target-closure-date {
  color: #4a4a4a;
  font-family: unset;
  font-size: 12px;
  font-weight: 300;
  line-height: 1px;
  text-align: left;
}
.Date-target {
  color: #4a4a4a;
  font-family: unset;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
.vl {
  border-left: 2px solid #f1f1f1;
  height: 158px;
  margin-top: -1.3%;
  margin-left: 10px;
}
.v2 {
  border-left: 2px solid #f1f1f1;
  height: 158px;
  margin-top: -26%;
  margin-left: 556px;
}
.v3 {
  border: 1px solid #dfdfdf;
  width: 104%;
  margin-top: 2.6%;
}
.v4 {
  border: 1px solid #dfdfdf;
  width: 129%;
  margin-top: 2.6%;
  margin-left: -28.5%;
}
.v5 {
  border: 1px solid #dfdfdf;
  width: 104%;
  margin-top: 2.6%;
}
.v6 {
  border: 1px solid #dfdfdf;
  width: 123%;
  margin-top: 2.6%;
  margin-left: -22.5%;
}
.oval-loading {
  background-color: #f5a623;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 7px;
  margin-left: -20px;
}
.reassign-to-naman-r {
  color: #4a4a4a;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.today-02 {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.yesterday-02 {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.rashmi-c {
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  margin-left: 7px;
}
.label-1 {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.card-space-1 {
  padding-top: 10px;
  padding-bottom: 8px;
}
.hi-naman-please-hel {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-left: 173px;
}
.hi-diwakar-i-really {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.comment-text {
  color: #2561a8;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-left: 190px;
}
.comment-text1 {
  color: #2561a8;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-left: 68px;
}
.label-2 {
  margin-top: -3px;
  font-size: 18px;
  margin-bottom: 8px;
  padding-left: 3px;
}
.label-3 {
  margin-top: -2px;
  font-size: 14px;
  padding-left: 3px;
  padding-bottom: 10px;
}
.mail-card {
  background-color: #ecf2f4;
  width: auto;
  height: 54px;
}
.mask1 {
  background-color: #ecf2f4;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  width: 1246px;
  height: 41px;
}
.mail-mask {
  background-color: #dbe4e7;
  border-radius: 5px;
  width: 151px;
  height: 32px;
  margin: 4px;
}
.email {
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  padding-right: 46px;
}
.down-1 {
  width: 15px;
  height: 13px;
}
.arrow-img {
  width: 18px;
  height: 18px;
  margin-left: 758%;
  margin-top: -43%;
}
.dropdrown {
  margin-left: -21px;
}
.plush-img {
  width: 18px;
  height: 18px;
  margin-left: 789%;
  margin-top: -43%;
}
.line-1 {
  border: 1px solid #cad4d7;
  height: 34px;
  width: 0px;
  margin-top: -37%;
  margin-left: 778%;
}
.label-4 {
  color: #9b9b9b;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.rectangle-9 {
  border-radius: 4px;
  width: 158px;
  height: 31px;
  padding-left: 8px;
  padding-right: 40px;
  border-color: #ecf2f4;
  background: #ecf2f4 url("../Images/down-1.png") no-repeat right 12px center;
}
.drop-card {
  margin-top: -15px;
}
.data-store {
  margin-top: -24.4%;
  margin-left: 97%;
}
.bata-rajouri-garden {
  color: #4a4a4a;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}
.card-details {
  background-color: #fafafa;
  width: 655px;
  height: 253px;
  margin-left: 28.5%;
}
.card-details-1 {
  background-color: #ffffff;
  width: 540px;
  height: 200px;
  margin: 29px;
  margin-left: 58px;
  padding: 23px;
  padding-left: 47px;
  padding-right: 39px;
}
.label-5 {
  color: #a5a49b;
  font-size: 14px;
}
.oval-56 {
  background-color: #f8e71c;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-left: 14px;
  padding: 6px;
}
.row-spacing {
  margin-top: 22px;
}
.facebook {
  width: 26px;
  height: 26px;
  margin-left: 140px;
}
.clip {
  width: 22px;
  height: 22px;
  margin-left: 50px;
}
.oval-6 {
  background-color: #50e3c2;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 4px;
  margin-left: 14px;
}
.headphone1 {
  width: 25px;
  height: 28px;
  margin-left: 146px;
}
.need-to-change-my-sh {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-left: 55px;
}
.reply-comment {
  color: #2561a8;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-left: 72px;
}
.btn-primary1 {
  background-color: #2561a8;
  margin-left: 15px;
  margin-top: -9px;
}
.btn-primary2 {
  background-color: #2561a8;
  margin-left: 119px;
  margin-top: -48px;
  color: white;
}
.down-white {
  width: 22px;
  height: 22px;
  padding: 3px;
  margin-left: 12px;
}
/*****************Ticket System (Deepak)************************/
.rectanglesystem {
  background-color: #ecf2f4;
  width: auto;
  height: 57px;
}

.tablepadding {
  margin-top: 15px;
}

.mask {
  background-color: #ffffff;
  border-radius: 4.5px;
  width: auto;
  height: 769px;
  margin: 20px;
}
.bitmapback {
  width: 15px;
  height: 15px;
}

.bitmapheadpone {
  width: 30px;
  height: 20px;
  padding-left: 10px;
}

.source {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  padding-left: 12px;
}

.a91-9873470074 {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}
.b91-9873470074 {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.save-as-a-draft {
  color: #2561a8;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  margin-right: 10px;
}

.rectanglecreateticket {
  background-color: #2561a8;
  border-radius: 4px;
  width: 145px;
  height: 43px;
}

.create-ticket {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.tdtext {
  padding-top: 15px;
  padding-left: 10px;
}
.tdicon {
  padding-top: 8px;
  padding-left: 10px;
}

.tdtextnew {
  padding: 5px;
  float: right;
  text-align: right;
}

table {
  width: auto;
}
.rectangletd {
  background-color: #fbfbfb;
  width: 591px;
  height: 792px;
}
.ticket-tittle {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left: 15px;
}

.ticket-tittle-textbox {
  background-color: #ecf2f4;
  border-radius: 4px;
  width: 520px;
  height: 43px;
}

.rowmargin {
  margin-left: 10px;
}

.ticket-details {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
}

.ticket-details-textarea {
  background-color: #ecf2f4;
  border-radius: 4px;
  width: 520px;
  height: 123px;
}

.category {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.sub-category {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left: 20px;
}

.category-select {
  background-color: #ecf2f4;
  border-radius: 4px;
  width: 256px;
  height: 43px;
  padding-left: 10px;
}
.sub-category-select {
  background-color: #ecf2f4;
  border-radius: 4px;
  width: 256px;
  height: 43px;
  padding-left: 10px;
}

.select-category-placeholder {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.select-sub-category-placeholder {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.high-button {
  background-color: #ffffff;
  border: 1px solid #d02139;
  border-radius: 4px;
  width: 58px;
  height: 43px;
}

.high-button-text {
  color: #ba505d;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.medium-button {
  background-color: #f5a623;
  border: 1px solid #f5a623;
  border-radius: 4px;
  width: 78px;
  height: 43px;
}

.medium-button-text {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.low-button {
  background-color: #ffffff;
  border: 1px solid #5aa805;
  border-radius: 4px;
  width: 58px;
  height: 43px;
}

.low-button-text {
  color: #61ad0f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.screen-shot-2018-04-17-at-4-39-16-pm {
  width: 18px;
  height: 23px;
}
.add-note {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left: 8px;
  padding-top: 2px;
}

.email-id {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}

.phone-number {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}

.customer-name {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.alankrit-kumar {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.alankrit-easyrewardz {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.edit-button {
  background-color: #fbfbfb;
  border: 1px solid #2561a8;
  border-radius: 4px;
  width: 93px;
  height: 41.32px;
  margin-left: 13px;
  margin-top: 10px;
}
.edit-button-text {
  color: #2561a8;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  width: 23.07px;
  text-align: left;
}
.right-rectangle {
  background-color: #ecf2f4;
  width: 77px;
  height: 792px;
}

.customer-icon {
  width: 32px;
  height: 32px;
  margin-left: 9px;
}
.customer-text {
  color: #2561a8;
  font-family: Lato;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  text-align: left;
}
.order-icon {
  width: 32px;
  height: 32px;
  margin-left: 7px;
}
.order-text {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  text-align: left;
  margin-left: 8px;
}
.store-icon {
  width: 32px;
  height: 32px;
  margin-left: 7px;
}

.store-text {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  text-align: left;
  margin-left: 8px;
}

.task-icon {
  width: 28px;
  height: 28px;
  margin-left: 7px;
}

.task-text {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  text-align: left;
  margin-left: 8px;
}

::-webkit-input-placeholder {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding: 5px;
}

:-ms-input-placeholder {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding: 5px;
}

::placeholder {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding: 5px;
}
.addNote-textarea {
  background-color: #ecf2f4;
  border-radius: 4px;
  width: 520px;
  height: 123px;
}

/********************************************/

/* chetan css starts */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

p,
label {
  margin: 0;
  padding: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
input[type="radio"] {
  display: none;
}
button:focus,
select:focus,
textarea:focus {
  outline: none;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #f5f8f9;
  color: #4a4a4a;
}
.chat-left-height::-webkit-scrollbar,
.chat-user-det::-webkit-scrollbar {
  width: 6px;
}
.chat-left-height::-webkit-scrollbar-track,
.chat-user-det::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}
.chat-left-height::-webkit-scrollbar-thumb,
.chat-user-det::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.chat-left-height::-webkit-scrollbar-thumb:hover,
.chat-user-det::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.red-clr {
  color: #f2726f;
}
.blue-clr {
  color: #2561a8;
}
.black-clr {
  color: #4a4a4a;
}
.pink-bg {
  background-color: #ffdfdf;
}
.orange-bg {
  background-color: #fff3df;
}
.blue-bg {
  background-color: #def3ff;
}
button {
  background-color: #ecf2f4;
  border: 1px solid #2561a8;
  border-radius: 5px;
  color: #2561a8;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 15px;
  min-width: 100px;
  transition: all 0.3s ease-in-out;
}
.butn {
  background-color: #2561a8;
  color: #fff;
  font-size: 12px;
  padding: 8px 25px;
  border-radius: 5px;
  cursor: pointer;
}
.butn-inv {
  background-color: #fff;
  color: #2561a8;
  font-size: 12px;
  padding: 8px 25px;
  border-radius: 5px;
  cursor: pointer;
}

/* dashboard starts */

.dash-top-cards {
  padding: 12px 20px 15px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  height: 100%;
  min-height: 140px;
}
.dash-top-cards small {
  white-space: nowrap;
}
.card-head {
  font-weight: 700;
  text-align: left;
  margin-bottom: 15px;
}
.card-value {
  font-size: 40px;
  font-weight: 300;
  display: block;
}
small {
  font-size: 12px;
  font-weight: 700;
  margin-top: -5px;
  display: block;
}
big {
  font-size: 56px;
}
.dash-cntr {
  padding: 15px 0;
}
.resp-success .card-head {
  text-align: center;
  font-weight: 300;
  margin-bottom: 0px;
}
.aside-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 63px); /* 24 */
}
.aside-cont > div {
  margin: 0 25px;
}
.btm-mar .row > div {
  margin-bottom: 30px;
}
.table-cntr {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  position: relative;
}
table {
  width: 100%;
  font-weight: 700;
  overflow: hidden;
  border-radius: 5px 5px 0px 0;
}
table th {
  font-size: 12px;
  padding: 0 30px;
}
table td {
  font-size: 13px;
  color: #9b9b9b;
  padding: 0 30px;
}
table thead img {
  width: 12px;
  margin-left: 4px;
}
table tbody tr {
  height: 70px;
  border-bottom: 1px solid #eeeeee;
}
table thead tr {
  height: 60px;
  background-color: #e5e9ed;
  border-bottom: 1px solid #eeeeee;
}
table span {
  font-size: 10px;
}
table td span {
  display: block;
}
.info-icon {
  width: 17px;
  position: relative;
  left: 2px;
  bottom: 1px;
}
.table-btn {
  border-radius: 15px;
  width: 60px;
  display: inline-block;
  padding: 4px 10px;
  text-transform: uppercase;
  text-align: center;
}
.table-blue-btn {
  background-color: #cbe0f1;
  border: 1px solid #0076ff;
  color: #1775e2;
}
.table-yellow-btn {
  background-color: #ffe4b2;
  border: 1px solid #ffa400;
  color: #dc6530;
}
.table-green-btn {
  background-color: #cbf1e9;
  border: 1px solid #2d8f7b;
  color: #2d8f7b;
}
.task-icon-1 {
  width: 20px;
}
.claim-icon {
  width: 16px;
  margin-right: 6px;
}
.table-img-cntr {
  width: 44px;
}
.table-img-cntr {
  width: 44px;
  padding: 0;
  text-align: right;
}
table tr td:last-child,
table tr th:last-child {
  text-align: right;
}
.pagi {
  text-align: center;
  padding: 25px;
}
.pagi ul {
  border: 1px solid #eceff0;
  display: inline-block;
}
.pagi ul li {
  font-size: 16px;
  width: 37px;
  height: 37px;
  line-height: 35px;
  border: 1px solid #eceff0;
  text-align: center;
}
.pagi ul li a {
  color: #747779;
}
.pagi ul li.active {
  border-color: #d3d3d3;
  box-shadow: inset 0px 0px 5px 0px #d3d3d3;
}
.float-search small {
  display: inline-block;
}
.float-search {
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 4px 17px 6px;
  cursor: pointer;
}
.search-icon {
  width: 15px;
  margin-left: 7px;
}
.dash-dropdowns {
  background-color: #ecf2f4;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
}
.dash-dropdowns div div:last-child select {
  margin-right: 0;
}
.dash-dropdowns span {
  font-weight: 300;
}
.dash-dropdowns select {
  color: #4a4a4a;
  background: transparent url("../Images//table-arr.png") no-repeat right 55%;
  border: 0;
  padding-right: 25px;
  background-size: 13px;
  padding-left: 5px;
  margin-right: 30px;
}

/* tabs starts */
.nav-tabs {
  border-bottom: 1px solid #ececec;
}
.nav-tabs .nav-link {
  color: #4a4a4a;
  font-weight: 700;
  padding: 12px 20px;
  border: 0;
}
.nav-tabs .nav-link.active {
  color: #2561a8;
  border-bottom: 2px solid #2561a8;
  box-shadow: none;
}
.tab-content {
  padding: 12px 20px;
  box-shadow: none;
  background: initial;
}
/* tabs ends */

/* logout block starts */
.logout-block {
  color: #000;
  width: 380px;
  background-color: #fff;
  border-radius: 8px;
}
.logout-block > div {
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e4e4e4;
}
.logout-block > div:first-child {
  border-top: none;
}
.mail-id {
  color: #6e6e6e;
  font-size: 13px;
  margin-top: -3px;
}
.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.logout-label {
  font-size: 12px;
  text-transform: uppercase;
}
.logout-status {
  width: 19px;
}
.logout-status img {
  width: 100%;
}
.status-options input + label {
  position: relative;
  padding-left: 15px;
}
.status-options input + label::before {
  content: "";
  position: absolute;
  background-color: #ecf2f4;
  border: 1px solid #2561a8;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  left: 0;
  top: 3px;
}
.status-options input:checked + label::before {
  background-color: #2561a8;
}
.status-sctn {
  padding-top: 0 !important;
  border-top: none !important;
  margin-top: -12px;
}
.chat-status {
  margin-left: 5px;
  position: relative;
  top: 1px;
}
.logout-progress {
  background-color: #d8d8d8;
  border-radius: 5px;
  height: 10px;
  margin-top: 10px;
  overflow: hidden;
}
.logout-progress .progress-bar {
  background-color: #ff8363;
  box-shadow: none;
}
.prog-indi {
  text-align: right;
  width: 60%;
  position: relative;
  left: 22px;
  margin-top: 5px;
}
#logout-popup {
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  padding: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
#logout-ovrly {
  padding: 70px 10px 0 0;
  background-color: rgba(77, 92, 116, 0.2);
}
#logout-popup .styles_closeButton__20ID4 {
  display: none;
}
/* logout block ends */

/* dashboard ends */

/* chatbot starts */

/* chatbot left starts */
.chatbot-left {
  background-color: #fffef7;
  height: calc(100vh - 55px);
  position: relative;
}
.chat-left-height {
  max-height: 200px;
  overflow: auto;
}
.chat-cntr {
  padding: 15px 10px;
  border-bottom: 1px solid #e8e8e8;
}
.chat-cntr .chat-info:last-child {
  border-bottom: none;
}
.chat-info {
  padding: 17px;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.chat-info.active {
  background-color: #ecf2f4;
}
.dark-blue-ini {
  background-color: #ece8fd;
  color: #5b35ff;
}
.light-blue-ini {
  background-color: #ddf6fc;
  color: #11b4db;
}
.yellow-ini {
  background-color: #ffefcb;
  color: #ffb40a;
}
.green-ini {
  background-color: #daf3c0;
  color: #65ac13;
}
.orange-ini {
  background-color: #ffdee2;
  color: #ff631d;
}
.initial {
  border-radius: 5px;
  width: 28px;
  height: 28px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  line-height: 28px;
}
.name-num p {
  font-size: 12px;
  font-weight: 700;
  color: #000;
}
.name-num .num {
  font-size: 11px;
  font-weight: 400;
  color: #4a4a4a;
  margin-top: -2px;
}
.mess-time p {
  font-size: 11px;
}
.chatbot-left button {
  font-weight: 700;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 50px;
}
.hist-btn {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
/* chatbot left ends */

/* chatbot right ends */
.top-tab-act {
  background-color: #ecf2f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}
.top-tab-act .nav-tabs,
.top-tab-act .nav-tabs .nav-link.active {
  border-bottom: none;
  background-color: transparent;
}
.action-part select {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 60px;
  cursor: pointer;
  background: #2561a8 url("../Images/down-white.png") no-repeat right 20px
    center;
}
/* .sel-arr::after {
    content: '';
    position: absolute;
    display: inline-block;
    font-size: 12px;
    width: 11px;
    height: 11px;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    transform: rotate(-144deg) skew(-20deg);
  } */
.action-part .cross {
  min-width: auto;
  width: 43px;
  height: 43px;
  padding: 0;
  margin-left: 8px;
}
.top-tab-act .nav-tabs .nav-link {
  padding: 20px;
}
.chat-user-det {
  background-color: #fff;
  padding: 10px 25px;
  height: calc(100vh - 118px);
  overflow: auto;
}
.chat-user-det > div {
  padding: 15px 0;
  border-bottom: 1px solid #e4e4e4;
}
.chat-user-det > div:last-child {
  border-bottom: none;
}
.chat-user-num a,
.chat-user-num span {
  font-size: 11px;
  color: #4a4a4a;
}
.chat-user-num span {
  margin: 0 5px;
}
.chat-user-name {
  color: #000;
  font-weight: 700;
}
.chat-user-det textarea {
  background-color: #ecf2f4;
  border: 1px solid #dddddd;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  resize: none;
  font-size: 11px;
  color: #4a4a4a;
  padding: 8px 12px;
  margin-top: 10px;
}
.chat-user-det textarea::placeholder {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0px;
}
.price-tic div {
  flex: 0 0 50%;
}
.chat-extra-info {
  color: #000;
  font-size: 11px;
}
.chat-extra-info div {
  margin-top: 15px;
}
.chat-extra-info label {
  margin-bottom: 2px;
}
/* chatbot right ends */

/* chatbot ends */

/* store dashboard starts */
.store-dash-top small {
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 0;
}
.store-dash-top .card-value {
  font-size: 28px;
}
.store-dash-top .aside-cont > div {
  margin: 0 20px;
  display: inline-block;
}
.store-dash-top .aside-cont {
  height: auto;
  display: block;
}
.store-table-cntr table {
  border-radius: 0;
}
.store-table-cntr {
  position: relative;
}
.store-dash-tabs a {
  color: #4a4a4a;
  padding: 6px 10px;
  display: inline-block;
  border-radius: 5px;
  margin-right: 10px;
}
.store-dash-tabs li:last-child a {
  margin-right: 0;
}
.store-dash-tabs a span {
  /* width: 30px; */
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  position: relative;
  top: 1px;
}
.store-dash-tabs a.active {
  background-color: #e3ebed;
  color: #2561a8;
  font-weight: 700;
}
.store-dash-tabs a.active span {
  background-color: #2561a8;
  color: #fff;
  font-weight: 400;
  width: 30px;
}
.store-dash-tabs {
  background-color: #ecf2f4;
  padding: 5px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
/* store dashboard ends */

/* login and password extra css starts */
.custom-select,
.form-control {
  background-color: #ecf2f4;
  padding: 12px;
}
.card .card-block,
.card .card-body {
  padding: 25px 65px 60px;
}
.auth-wrapper .auth-content {
  padding: 0;
}
.auth-wrapper {
  display: block;
}
.auth-wrapper .auth-content {
  margin: 50px auto;
}
.auth-wrapper input {
  border: 0;
}
/* login and password extra css ends */

/* chetan css ends */
/* chetan css ends */
/******************************************************/

/*Shlok css start*/

/*******************Claim start *********************/
.claim-header-card {
  background: #ecf2f4;
}
.claim-ticket {
  padding: 14px;
  padding-left: 15px;
  margin-bottom: 0px;
  color: #5e6061;
}
.claim-A22345 {
  color: #4a4a4a;
  margin-left: -8px;
}
.btn-claim {
  background-color: #2561a8;
  border-radius: 4px;
  border-color: #2561a8;
  width: 134px;
  height: 43px;
  color: white;
}
.btn-margin {
  padding-top: 5px;
  margin-left: 50px;
}
.submit-claim {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.btn-btn-claim {
  color: #2561a8;
  background-color: transparent;
  background-image: none;
  border-color: #2561a8;
  border-radius: 0.25rem;
  height: 43px;
  margin-right: 6px;
}
.col-md-9-card {
  margin-left: -13px;
  flex: 0 0 75%;
  max-width: 75%;
}
.oderDetails-table {
  margin-left: 5px;
  padding-top: 9px;
}
.span-color {
  color: red;
}
.search-customer-padding {
  padding: 23px;
  padding-left: 8%;
}
.back-color {
  background-color: #f5f8f9;
  padding-top: 20px;
  margin-left: -13px;
}
.card-radius {
  border-radius: 6px;
  padding-top: 15px;
  padding-left: 7px;
}
.label-color {
  color: #6b6767;
}
.add-customer-color {
  margin-left: 235px;
  color: #4275b1;
}
.search-mobile-textbox {
  background-color: #ecf2f4;
  border-radius: 4px;
  width: 880px;
  height: 43px;
  margin-left: -15px;
  padding-left: 6px;
}
.searchImg {
  width: 20px;
  height: 20px;
  margin-top: -70px;
  margin-left: 833px;
}
.claim-status-card {
  background-color: #ecf2f4;
  width: auto;
  height: 54px;
  border-radius: 10px;
  padding: 15px;
  padding-left: 18px;
}
.line-2 {
  border: 1px solid #cad4d7;
  height: 53px;
  width: 0px;
  margin-top: -38.5px;
  margin-left: 753px;
}
.line-3 {
  border: 1px solid #cad4d7;
  height: 53px;
  width: 0px;
  margin-top: -77.6px;
  margin-left: 810px;
}
.arrow-img-1 {
  width: 18px;
  height: 18px;
  margin-left: 772px;
  margin-top: -10%;
}
.plush-img-1 {
  width: 18px;
  height: 18px;
  margin-left: 830px;
  margin-top: -80px;
}
.first-margin {
  margin-left: -13px;
}
.search-order {
  border-radius: 4px;
  width: 300px;
  height: 43px;
  margin-left: 27px;
  padding-left: 6px;
}
.searchImg-1 {
  width: 20px;
  height: 20px;
  margin-top: -70px;
  margin-left: 833px;
}
.batashoes {
  width: 156px;
  margin-left: -11px;
}
.label-6 {
  color: #4a4a4a;
  font-family: unset;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  opacity: 0.5;
  text-align: left;
}
.ticket-comments-textarea {
  background-color: #ecf2f4;
  border-radius: 4px;
  width: 860px;
  height: 123px;
}
.hr-ago {
  color: #9b9b9b;
  font-family: inherit;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.naman-R {
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  margin-left: -6px;
}
.hr-ago-margin {
  margin-left: 43px;
  padding-left: 70px;
}
.margin-claim {
  margin-left: -28px;
  padding-top: 10px;
}
.comment-02-margin {
  margin-bottom: 9px;
}
.card-radius2 {
  border-radius: 6px;
  padding-top: 35px;
  padding-left: 25px;
}
/**************************************/

/* -------------Deepka Savani-------------- */

.High button {
  background-color: #ffffff;
  border: 1px solid #d02139;
  border-radius: 4px;
  height: 43px;
  min-width: 67px;
}

.Low button {
  background-color: #ffffff;
  border: 1px solid #5aa805;
  border-radius: 4px;
  min-width: 48px;
  height: 43px;
}
.Medium button {
  background-color: #f5a623;
  border: 1px solid #f5a623;
  border-radius: 4px;
  min-width: 68px;
  height: 43px;
}

/* ----------------------------------- */

/* .mask table {
  border: none !important;
} */

.addNote-textarea::placeholder {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}
.card-header1 .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px !important;
}

/* ----------------My Ticket List Page--------------------- */

.myticketlist-header {
  background-color: #ecf2f4;
  width: auto;
  height: auto;
}

.escalation-04-new {
  color: #2561a8;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}

.Escalation04-box1 {
  background-color: #e3ebed;
  color: #2561a8;
  border-radius: 4px;
  width: 137px;
  height: 43px;
  text-align: center;
  padding-top: 5px;
}

.Add-ticket-button {
  background-color: #2561a8;
  border-radius: 4px;
  width: 185px;
  height: 43px;
}

.myticketlist-header table td {
  padding: 25px 15px 0px 15px;
  color: #727474;
}
.add-tickets {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.oval04 {
  background-color: #2561a8;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

/* ---------------------------------------------------------- */

/**************************************/

/********Shlok css for Historical task popup********/
/**Historical popup css start**/
.historical-model {
  border-radius: 10px;
}
.table-scrolling {
  min-height: 300px;
  overflow: auto;
  max-height: 350px;
}
/**Historical popup css edn**/

/*Progress bar in my tickeyt page*/
progress {
  /* RESETS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  width: 300px;
  height: 15px;
  border-radius: 20px;
  background-color: #777;
  color: rgb(20, 240, 221);
}

progress::-webkit-progress-bar {
  background-color: #777;
  border-radius: 20px;
}

progress::-webkit-progress-value {
  background-color: #f9b54b;
  border-radius: 20px;
}

progress::-moz-progress-bar {
  background-color: #f9b54b;
  border-radius: 20px;
}
.prog-indi-1 {
  text-align: right;
  width: 60%;
  position: relative;
  left: 2px;
}
.dropdown-label {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-right: 40px;
  background: #ecf2f4 url("../Images/down-1.png") no-repeat right 12px center;
}
.pieChart-Margin {
  margin-left: -35px;
}
#Historical-popup {
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  padding: 10;
  margin-right: 360px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
/* ---------------------------Deepak Savani Task:Claim Tab Ticket View-----------------------------   */

.claim-00-1 {
  color: #2561a8;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding-right: 5%;
  margin-left: -202px;
}

.messages-04-1 {
  color: #4a4a4a;
  font-family: unset;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}
.rectanglesystem table tr {
  border-bottom: none !important;
}
.custom-select:focus, .form-control:focus {
  background-color: #ecf2f4 !important;
  box-shadow: none !important;
  }
/* ------------------------------------------------------------------------------------------------- */
/* model close button css */
.styles_closeButton__20ID4 {
  display: none;
}
/* .styles_modal__gNwvD
{

  top: 7%;
  left: 14%;
  border-radius: 8px;
  width: 500px;
} */
/* ------------------------------- */

.CliamDetailsModal{
  background-color: #FFFFFF;
  width: 945px;
  height: 929px;
  float: right;
  position: relative;
 
}

.black-left-arrow{
  width: 24px;
  height: 24px;
}

.claim-details{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}

.id-a-22134{
  color: #000000;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}

.claimrowmargin{
margin-left: 25px; 
}

.claim-category{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
}

.sub-category{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
}

.claim-type{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
}

.claim-asked-for{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
}

.attached-image{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
}

.refund{
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.recent-orders{
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.customer-name{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
}

.email-id{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
}
.phone-number{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
}

.gender{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
}

.Add-Comments-textarea{
  background-color: #ECF2F4;
  border-radius: 4px;
  width: 359px;
  height: 198px;
}

/* ----- */

.table-header{

  background-color: white;

}
.claim-status-table{
  background-color: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  width: 876px;
  height: 350px;
}

.claim-status-table-header{
  background-color: #ECF2F4;
  width: 876px;
  height: 57px;
  border: 1px solid #ECF2F4;
  border-radius: 8px;
   
}

.claim-status-open{
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding: 20px;
}

.order-details{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;  
  padding-left: 34px;
  padding-top:20px;
}

.invoice-number{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.invoice-date{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.item-count{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.item-price{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.price-paid{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.store-code{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.store-address{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}

.claim-SKU-details-table{
  background-color: #F8F8F8;
  width: 802px;
  height: 105px;
  margin-left: 10px;
}
.bb-332398{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}
.sku{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}

/* table.borderless td,table.borderless th{
  border: none !important;
} */

/* ------ */
.oval-5{
  background-color: #F8E71C;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

.varun-nagpal{
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.hi-diwakar-i-really{
  color: #505050;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  width: 343px;
  text-align: left;
}
 
/* 
.ReactModal__Overlay{
  overflow-y: auto;
} */

.add-comment-button{
  background-color: #2561A8;
  border-radius: 4px;
  width: 359px;
  height: 43px;
}

.add-comment-text{
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.claim-status-table .table td {
  padding: 0 15px;
}

.claim-status-row{
  background-color: #F3F0F0;
  border-radius: 4.5px;
  width: 851px;
  height: 10px;
  margin: 10px;
}

.ticket-details-textarea::placeholder{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.ticket-tittle-textbox::placeholder{

  color: #9B9B9B;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}
.batashoes-icon
{
  width: 135px;
  height: 76px;
}

.borderless table tr{
  border-bottom: none !important;
  border: none !important;
  height: 0px;
  padding:1px;
}

.borderless table td{
  border: none !important;
}

.borderless table tr td:last-child{
  text-align: left;
}
 
.claim-SKU-details-table table tbody tr
{
  height: 28px;
  border: none !important;
}
.claim-SKU-details-table table tbody tr td{
  border: none !important;

}

#Notification-popup{
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  left: 15%;
}

/* #endregion */
 
