.card-Nav{
  border-radius: 0;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
          box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  /* margin-bottom: 30px; */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: white;
}
.rectangle-nav-header{
    background-color: #FFFFFF;
    width: 1260px;
    height: 57px;
  }
  .dashboards{
    color: #2561A8;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
  }
  .my-tickets{
    color: #4A4A4A;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
  }
  .claim-space{
    margin-top: -2.7%;
  }
  .claim-label{
    margin-left: 333%;
    color: black;
  }
  .knowledge-base{
    color: #4A4A4A;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
  }
  .bitmap{
    background-color: #4A4A4A;
    width: 26px;
    height: 26px;
  }
  .bitmap{
    width: 25px;
    height: 25px;
  }
  .oval-4{
    background-color: #FFB629;
    border-radius: 100%;
    width: 19px;
    height: 19px;
  }
  .card .card-header1{
    background-color: transparent;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    /* padding: 3px 0px; */
}
.main-header{
  width: 5%;
  background: '#2561A8';
  color: '#FFFFFF';
  /* padding-left: '1.5%' */
}
.rectangle-2{
  background-color: #2561A8;
  width: 63px;
  height: 57px;
}
.rectangle-1{
  background-color: #FFFFFF;
  width: auto;
  height: 57px;
  margin: 20px;
}
.card-row{
  height: 55px;
}
.er{
  height: 56px;
  width: 63px;
  background: #2561A8;
  color: white;
  padding-left: 1.5%;
}
.er-label{
  font-size: 19px;
  font-family: sans-serif;
  margin-top: 13px;
}
.rectangle-2{
  background-color: #2561A8;
  width: 63px;
  height: 57px;
}
.dashboards-header{
  color: #2561A8;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  width: 11%;
}
.my-tickets{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  width: 10%;
}
.knowledge-base {
  color: #4A4A4A;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
.bitmap{
  background-color: #2561A8;
  width: 21px;
  height: 21px;
}
.bitmap1{
  width: 26px;
  height: 26px;
  margin-top: 15px;
}
.bitmap2{
  width: 26px;
  height: 26px;
  margin-top: -23px;
  margin-left: 40px;
}
.bitmap3{
  width: 24px;
  height: 24px;
  margin-top: -29px;
  margin-left: 80px;
}
.bitmap4{
  width: 24px;
  height: 24px;
  margin-top: -23px;
  margin-left: 116px;
}
.main-nav{
  margin-left: 20%;
}
.sign-in {
  color: #4A4A4A;
  font-family: Lato;
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
  text-align: left;
}
.dashboardImg1{
  width: 21px;
  height: 21px;
  /* margin-left: 68%;
  margin-top: -78%; */
}
.myTicket{
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
.knowledgeNav{
  width: 18px;
  height: 18px;
  margin-right: 6px;
  margin-top: 5px;
}
.calImg{
  width: 26px;
  height: 26px;
}
.chatImg{
  width: 26px;
  height: 26px;
}
.notifi{
  width: 26px;
  height: 26px;
}
.setting{
  width: 26px;
  height: 26px;
}
.dashboards-label1{
  font-size: 17px;
  vertical-align: middle;
  padding-left: 3px;
  /* margin-top: -117%;
  margin-left: 100px; */
}
.nav-tab1{
  margin-top: -3%;
  margin-left: 28%;
  position: relative;
  z-index: 1;
}
.nav-tab2{
  margin-top: -3.5%;
  margin-left: 455px;
}
.nav-tab3{
  margin-top: -41px;
  margin-left: 68px;
  position: relative;
  z-index: 1;
}
.ticket-label{
  font-size: 18px;
  vertical-align: -webkit-baseline-middle;
  margin-top: -47px;
  margin-left: 23px;
}
.knowledge-label{
  font-size: 18px;
  vertical-align: -webkit-baseline-middle;
  margin-top: -5px;
}
 /***** For Model *****/
.Model{
  position: absolute;
  top: 30%;
  left: 65%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 536px;
  Height:220px;
}
.new-tickets-assigned{
color: #000000;
font-family: Lato-Light;  
font-size: 16px;
font-weight: 700;
line-height: 50px;
width: 243px;
text-align: left;
padding-left: 15px;
}
.view-tickets{
color: #2561A8;
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 50px;
width: 121px;
text-align: left;
}
.rectangle-2{
background-color: #2561A8;
width: 33px;
height: 27px;
}
.lable05{
color: #FFFFFF;
font-family: Lato;
font-size: 14px;
font-weight: 700;
line-height: 17px;
text-align: left;
margin-top: 12px;
}
.rowpadding{ 
padding-left: 25px; 
}   
.viewticketspeadding{
padding-left: 50px;
}
.labledata{
padding-left: 9px;
padding-top: 5px;
}
/************My Ticket Header******************/
.headphone{
  width: 21.6px;
  height: 25.2px;
  margin-right: 7px;
}
.loading-rectangle{
  background-color: #ECF2F4;
  border: 1px solid #2561A8;
  border-radius: 6px;
  width: 22px;
  height: 22px;
  padding: 3px;
  margin-left: 115px;
  margin-top: -104px;
}
.oval-55{
  background-color: #F8E71C;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 6px;
}
.oval-head{
  padding-left: 73%;
  margin-top: -39px;
}
.naman-r{
  color: #000000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  padding-left: 6px;
}
.down-header{
  width: 24px;
  height: 13px;
  padding-left: 7px;
}
.head-header{
  background-color: #ECF2F4;
  width: auto;
  height: 57px;
}
.head-header-1{
  padding: 15px 30px;
}
.id-abc-1234{
  color: #4A4A4A;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
.updated-2-d-ago{
  color: #9B9B9B;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  display: block;
}
/****************My Ticket********************/
.main-content1{
  padding: 0px 20px;
}
.rectangle-box{
  background-color: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  width: auto;
  height: 159px;
  margin: 15px;
  padding: 15px;
}
.rectangle2{
  background-color: #ECF2F4;
  width: 1280px;
  height: 57px;
}
.rectangle-3{
  background-color: #FFFFFF;
  border-radius: 4px;
  width: auto;
  height: auto;
  /* margin: 32px; */
  padding: 30px;
}
.card-rectangle{
  background: #F5F8F9;
  padding: 1px;
}
.ticket-title-where{
  color: #000000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left: 3px;
}
.ticket-details-wher{
  color: #000000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  width: 1227px;
  text-align: left;
}
.card .card-header-1 {
  background-color: transparent;
  border-bottom: 1px solid #f1f1f1;
  padding: 20px 25px;
  position: relative;
}
.messages-04{
  color: #2561A8;
  font-family: unset;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}
.msg-row{
  padding-top: 23px;
}
.notes-00{
  color: #4A4A4A;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding-right: 5%;
  margin-left: -46px;
}
.task-03{
  color: #4A4A4A;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding-right: 5%;
  margin-left: -122px;
}
.claim-00{
  color: #4A4A4A;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding-right: 5%;
  margin-left: -202px;
}
.user-label{
  padding-right: 23%;
}
.message-label{
  padding-right: 65%;
  margin-left: 3%;
}
.action-label{
  margin-left: 110%;
}
.line-4{
  text-align: center;
  display: block;
}
/***************ToDAY 02*******************/
.oval-5{
  background-color: #7ED321;
  border-radius: 100%;
  width: 30px;
  height: 30px;
 
}
.solved-by-naman-r{
  color: #000000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-right: 8%;
  padding-left: 1%;
  margin-top: 6px;
}
.i-have-solved-this-i{
  color: #4A4A4A;
  font-family: unset;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-left: -13%;
}
.smg-Img{
  width: 22px;
  height: 16px;
  margin: 7px;
  margin-left: 13%;
}
.up{
  width: 18px;
  height: 18px;
}
.up-1{
  width: 22px;
  height: 16px;
  margin: 7px;
  margin-left: 11%;
}
.comment{
  color: #2561A8;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-left: 2%;
  margin-left: 37%;
}
.rectangle-4{
  background-color: #FAFAFA;
  width: 693px;
  height: 253px;
}
.rectangle-44{
  background-color: #FFFFFF;
  width: 563px;
  height: 206px;
}
.btn-submit{
  margin-top: -6px;
  padding-left: 8px;
}
.btn-primary1{
  color: #fff;
  background-color:#2561A8;
  border-color: #2561A8;
  margin-left: 3.7px
}
.dropdown-menu.show{
  display: block;
}
.mobile-number{
  color: #9B9B9B;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 2px;
  text-align: left;
}
.mobile-no{
  color: #000000;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  padding-right: 5px;
}
.eyeImg{
  background-color: #ECF2F4;
  border: 1px solid #2561A8;
  border-radius: 6px;
  width: 23px;
  height: 22px;
  padding: 4px;
}
.billImg{
  background-color: #ECF2F4;
  border: 1px solid #2561A8;
  border-radius: 6px;
  width: 23px;
  height: 22px;
  padding: 4px;
}
.bill-1{
  margin-top: -25px;
  padding-left: 147px;
}
.target-closure-date{
  color: #4A4A4A;
  font-family: unset;
  font-size: 12px;
  font-weight: 300;
  line-height: 1px;
  text-align: left;
}
.Date-target {
  color: #4A4A4A;
  font-family: unset;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
.vl{
  border-left: 2px solid #F1F1F1;
  height: 158px;
  margin-top: -1.3%;
  margin-left: 10px;
}
.v2{
  border-left: 2px solid #F1F1F1;
  height: 158px;
  margin-top: -26%;
  margin-left: 556px;
}
.v3{
  border: 1px solid #DFDFDF;
  width: 104%;
  margin-top: 2.6%;
}
.v4{
  border: 1px solid #DFDFDF;
  width: 129%;
  margin-top: 2.6%;
  margin-left: -28.5%;
}
.v5{
  border: 1px solid #DFDFDF;
  width: 104%;
  margin-top: 2.6%;
}
.v6{
  border: 1px solid #DFDFDF;
  width: 123%;
  margin-top: 2.6%;
  margin-left: -22.5%;
}
.oval-loading{
  background-color: #F5A623;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 7px;
  margin-left: -20px;
}
.reassign-to-naman-r{
  color: #4A4A4A;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.today-02{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.yesterday-02{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.rashmi-c{
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  margin-left: 7px;
}
.label-1{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.card-space-1{
  padding-top: 10px;
  padding-bottom: 8px;
}
.hi-naman-please-hel{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-left: 173px;
}
.hi-diwakar-i-really{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.comment-text{
  color: #2561A8;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-left: 190px;
}
.comment-text1{
  color: #2561A8;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-left:68px;
}
.label-2{
  margin-top: -3px;
  font-size: 18px;
  margin-bottom: 8px;
  padding-left: 3px;
}
.label-3{
  margin-top: -2px;
  font-size: 14px;
  padding-left: 3px;
  padding-bottom: 10px;
}
.mail-card{
  background-color: #ECF2F4;
  width: auto;
  height: 54px;
}
.mask1{
  background-color:#ECF2F4;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  width: 1246px;
  height: 41px;;
}
.mail-mask{
  background-color: #DBE4E7;
  border-radius: 5px;
  width: 151px;
  height: 32px;
  margin:4px;
}
.email{
  color: #000000;
  font-family: inherit;
  font-size: 16px;
  padding-right: 46px;
}
.down-1{
  width: 15px;
  height: 13px;
}
.arrow-img{
    width: 18px;
    height: 18px;
    margin-left: 758%;
    margin-top: -43%;
}
.dropdrown{
  margin-left: -21px;
}
.plush-img{
  width: 18px;
  height: 18px;
  margin-left: 789%;
  margin-top: -43%;
}
.line-1{
  border: 1px solid #CAD4D7;
  height: 34px;
  width: 0px;
  margin-top: -37%;
  margin-left: 778%;
}
.label-4{
  color: #9B9B9B;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
}
.rectangle-9{
  background-color: #ECF2F4;
  border-radius: 4px;
  width: 158px;
  height: 31px;
  padding-left: 8px;
}
.drop-card{
  margin-top: -15px;
}
.data-store{
  margin-top: -24.4%;
  margin-left: 97%;
}
.bata-rajouri-garden{
  color: #4A4A4A;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}
.card-details{
  background-color: #FAFAFA;
  width: 655px;
  height: 253px;
  margin-left: 28.5%;
}
.card-details-1{
  background-color: #FFFFFF;
  width: 540px;
  height: 200px;
  margin: 29px;
  margin-left: 58px;
  padding: 23px;
  padding-left: 47px;
  padding-right: 39px;
}
.label-5{
  color: #A5A49B;
  font-size: 14px;
}
.oval-56 {
  background-color: #F8E71C;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-left: 14px;
  padding: 6px;
}
.row-spacing{
  margin-top: 22px;
}
.facebook{
  width: 26px;
  height: 26px;
  margin-left: 140px;
}
.clip{
  width: 22px;
  height: 22px;
  margin-left: 50px;
}
.oval-6{
  background-color: #50E3C2;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 4px;
  margin-left: 14px;
}
.headphone1{
  width: 25px;
  height: 28px;
  margin-left: 146px;
}
.need-to-change-my-sh{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-left: 55px;
}
.reply-comment{
  color: #2561A8;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-left: 72px;
}
.btn-primary2{
  background-color: #2561A8;
  margin-left: 119px;
  margin-top: -48px;
  color: white;
}
.down-white{
   width: 22px;
   height: 22px;
   padding: 3px;
   margin-left: 12px;
}
/*****************Ticket System (Deepak)************************/
.rectanglesystem{
  background-color: #ECF2F4;
  width: 1280px;
  height: 57px;
  
   
}

.tablepadding{
  margin-top: 15px;
}

.mask{
  background-color: #FFFFFF;
  border-radius: 4.5px;
  width: auto;
  height: 769px;
  margin: 20px;
}
.bitmapback{ 
    width: 15px;
    height: 15px;
}

.bitmapheadpone{   
  width: 30px;
  height: 20px;
  padding-left: 10px;
}

.source{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  padding-left: 12px;
}

.a91-9873470074{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}
.b91-9873470074{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.save-as-a-draft{
  color: #2561A8;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  margin-right: 10px;
}

.rectanglecreateticket {
  background-color: #2561A8;
  border-radius: 4px;
  width: 145px;
  height: 43px;
}

.create-ticket{
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.tdtext{
  padding-top: 15px;
  padding-left: 10px;
}
.tdicon{
  padding-top: 8px;
  padding-left: 10px;
  
}

.tdtextnew{
  padding: 5px;
  float: right;
  text-align: right;
}

table{
width: auto;

}
.rectangletd{
  background-color: #FBFBFB;
  width: 591px;
  height: 792px;
}
.ticket-tittle{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left: 15px;
}

.ticket-tittle-textbox{
  background-color: #ECF2F4;
  border-radius: 4px;
  width: 520px;
  height: 43px;
}

.rowmargin{
  margin-left: 10px;
}

.ticket-details{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
}

.ticket-details-textarea{
  background-color: #ECF2F4;
  border-radius: 4px;
  width: 520px;
  height: 123px;
}

.category{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.sub-category{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left: 20px;
}

.category-select{
  background-color: #ECF2F4;
  border-radius: 4px;
  width: 256px;
  height: 43px;
  padding-left: 10px;

}
.sub-category-select{
  background-color: #ECF2F4;
  border-radius: 4px;
  width: 256px;
  height: 43px;
  padding-left: 10px;

}

.select-category-placeholder{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.select-sub-category-placeholder{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}



.high-button-text{
  color: #BA505D;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

 

.medium-button-text{
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

 

.low-button-text{
  color: #61AD0F;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.screen-shot-2018-04-17-at-4-39-16-pm{
  width: 18px;
  height: 23px;
}
.add-note{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding-left: 8px;
  padding-top: 2px;
}

.email-id{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}

.phone-number{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}

.customer-name{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.alankrit-kumar {
  color: #4A4A4A;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.alankrit-easyrewardz{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.edit-button{
  background-color: #FBFBFB;
  border: 1px solid #2561A8;
  border-radius: 4px;
  width: 93px;
  height: 41.32px;
  margin-left: 13px;
  margin-top: 10px;
}
.edit-button-text{
  color: #2561A8;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  width: 23.07px;
  text-align: left;
}
.right-rectangle{
  background-color: #ECF2F4;
  width: 77px;
  height: 792px;
}

.customer-icon{
  width: 32px;
  height: 32px;
  margin-left: 9px;
}
.customer-text{
  color: #2561A8;
  font-family: Lato;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  text-align: left;
}
.order-icon{
  width: 32px;
  height: 32px;
  margin-left: 7px;
}
.order-text{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  text-align: left;
  margin-left:8px;
}
.store-icon{
  width: 32px;
  height: 32px;
  margin-left: 7px;
}

.store-text{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  text-align: left;
  margin-left:8px;
}

.task-icon{
  width: 28px;
  height: 28px;
  margin-left: 7px;
}

.task-text{
  color: #4A4A4A;
  font-family: Lato;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  text-align: left;
  margin-left:8px;
}

::-webkit-input-placeholder{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding: 5px;
}

:-ms-input-placeholder{  
  color: #9B9B9B;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding: 5px;
}

::placeholder{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  padding: 5px;
}
.addNote-textarea{
  background-color: #ECF2F4;
  border-radius: 4px;
  width: 520px;
  height: 123px;
}

/********************************************/

/* chetan css starts */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

p, label {
  margin: 0;
  padding: 0;
}
ul, li {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
input[type="radio"] {
  display: none;
}
button:focus, select:focus, textarea:focus {
  outline: none;
}
select {
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #F5F8F9;
  color: #4A4A4A;
}
.chat-left-height::-webkit-scrollbar, .chat-user-det::-webkit-scrollbar {
  width: 6px;
}
.chat-left-height::-webkit-scrollbar-track, .chat-user-det::-webkit-scrollbar-track {
  background: #ddd; 
  border-radius: 10px;
}
.chat-left-height::-webkit-scrollbar-thumb, .chat-user-det::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}
.chat-left-height::-webkit-scrollbar-thumb:hover, .chat-user-det::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.red-clr {
  color: #F2726F;
}
.blue-clr {
  color: #2561A8;
}
.black-clr {
  color: #4A4A4A;
}
.pink-bg {
  background-color: #FFDFDF;
}
.orange-bg {
  background-color: #FFF3DF;
}
.blue-bg {
  background-color: #DEF3FF;
}
button {
  background-color: #ECF2F4;
  border: 1px solid #2561A8;
  border-radius: 5px;
  color: #2561A8;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 15px;
  min-width: 100px;
  transition: all 0.3s ease-in-out;
}
.butn {
  background-color: #2561A8;
  color: #fff;
  font-size: 12px;
  padding: 8px 25px;
  border-radius: 5px;
  cursor: pointer;
}
.butn-inv {
  background-color: #fff;
  color: #2561A8;
  font-size: 12px;
  padding: 8px 25px;
  border-radius: 5px;
  cursor: pointer;
}


/* dashboard starts */

  .dash-top-cards {
    padding: 12px 20px 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    height: 100%;
  }
  .card-head {
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
  }
  .card-value {
    font-size: 40px;
    font-weight: 300;
    display: block;
  }
  small {
    font-size: 12px;
    font-weight: 700;
    margin-top: -5px;
    display: block;
  }
  big {
    font-size: 56px;
  }
  .dash-cntr {
    padding: 15px 0;
  }
  .resp-success .card-head {
    text-align: center;
    font-weight: 300;
    margin-bottom: 0px;
  }
  .aside-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 63px); /* 24 */
  }
  .aside-cont > div {
    margin: 0 25px;
  }
  .btm-mar .row > div {
    margin-bottom: 30px;
  }
  .table-cntr {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    position: relative;
  }
  table {
    width: 100%;
    font-weight: 700;
    overflow: hidden;
    border-radius: 5px 5px 0px 0;
  }
  table th {
    font-size: 12px;
    padding: 0 30px;
  }
  table td {
    font-size: 13px;
    color: #9B9B9B;
    padding: 0 30px;
  }
  table thead img {
    width: 12px;
    margin-left: 4px;
  }
  table tbody tr {
    height: 70px;
    border-bottom: 1px solid #EEEEEE;
  }
  table thead tr {
    height: 60px;
    background-color: #E5E9ED;
    border-bottom: 1px solid #EEEEEE;
  }
  table span {
    font-size: 10px;
  }
  table td span {
    display: block;
  }
  .info-icon {
    width: 17px;
    position: relative;
    left: 2px;
    bottom: 1px; 
  }
  .table-btn {
    border-radius: 15px;
    width: 60px;
    display: inline-block;
    padding: 4px 10px;
    text-transform: uppercase;
    text-align: center;
  }
  .table-blue-btn {
    background-color: #CBE0F1;
    border: 1px solid #0076FF;
    color: #1775E2;
  }
  .table-yellow-btn {
    background-color: #FFE4B2;
    border: 1px solid #FFA400;
    color: #DC6530;
  }
  .table-green-btn {
    background-color: #CBF1E9;
    border: 1px solid #2D8F7B;
    color: #2D8F7B;
  }
  .task-icon-1 {
    width: 20px;
  }
  .claim-icon {
    width: 16px;
    margin-right: 6px;
  }
  .table-img-cntr {
    width: 44px;
  }
  .table-img-cntr {
    width: 44px;
    padding: 0;
    text-align: right;
  }
  table tr td:last-child, table tr th:last-child {
    text-align: right;
  }
  .pagi {
    text-align: center;
    padding: 25px;
  }
  .pagi ul { 
    border: 1px solid #ECEFF0;
    display: inline-block;
  }
  .pagi ul li {
    font-size: 16px;
    width: 37px;
    height: 37px;
    line-height: 35px;
    border: 1px solid #ECEFF0;
    text-align: center;
  }
  .pagi ul li a {
    color: #747779;
  }
  .pagi ul li.active {
    border-color: #D3D3D3;
    box-shadow: inset 0px 0px 5px 0px #D3D3D3;
  }
  .float-search small {
    display: inline-block;
  }
  .float-search {
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  padding: 4px 17px 6px;
  cursor: pointer;
  }
  .search-icon {
    width: 15px;
    margin-left: 7px;
  }

  /* tabs starts */
  .nav-tabs {
    border-bottom: 1px solid #ECECEC;
  }
  .nav-tabs .nav-link {
    color: #4A4A4A;
    font-weight: 700;
    padding: 12px 20px;
    border: 0;
  }
  .nav-tabs .nav-link.active {
    color: #2561A8;
    border-bottom: 2px solid #2561A8;
    box-shadow: none;
  }
  .tab-content {
    padding: 12px 20px;
    box-shadow: none;
    background: initial;
  }
  /* tabs ends */

  /* logout block starts */
  .logout-block {
    color: #000;
    width: 380px;
    background-color: #fff;
  }
  .logout-block > div {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E4E4E4;
  }
  .logout-block > div:first-child {
    border-top: none;
  }
  .mail-id {
    color: #6E6E6E;
    font-size: 13px;
    margin-top: -3px;
  }
  .user-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
  }
  .logout-label {
    font-size: 12px;
    text-transform: uppercase;
  }
  .logout-status {
    width: 19px;
  }
  .logout-status img {
    width: 100%;
  }
  .status-options input + label {
    position: relative;
    padding-left: 15px;
  }
  .status-options input + label::before {
    content: '';
    position: absolute;
    background-color: #ECF2F4;
    border: 1px solid #2561A8;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    left: 0;
    top: 3px;
  }
  .status-options input:checked + label::before {
    background-color: #2561A8;
  }
  .status-sctn {
    padding-top: 0 !important;
    border-top: none !important;
    margin-top: -12px;
  }
  .chat-status {
    margin-left: 5px;
    position: relative;
    top: 1px;
  }
  .logout-progress {
    background-color: #D8D8D8;
    border-radius: 5px;
    height: 10px;
    margin-top: 10px;
    overflow: hidden;
  }
  .logout-progress .progress-bar {
    background-color: #FF8363;
    box-shadow: none;
  }
  .prog-indi {
    text-align: right;
    width: 60%;
    position: relative;
    left: 22px;
    margin-top: 5px;
  }
  /* logout block ends */

/* dashboard ends */


/* chatbot starts */

  /* chatbot left starts */
  .chatbot-left {
    background-color: #FFFEF7;
    height: calc(100vh - 55px);
    position: relative;
  }
  .chat-left-height {
    max-height: 200px;
    overflow: auto;
  }
  .chat-cntr {
    padding: 15px 10px;
    border-bottom: 1px solid #E8E8E8;
  }
  .chat-cntr .chat-info:last-child {
    border-bottom: none;
  }
  .chat-info {
    padding: 17px;
    border-bottom: 1px solid #E4E4E4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .chat-info.active {
    background-color: #ECF2F4;
  }
  .dark-blue-ini {
    background-color: #ECE8FD;
    color: #5B35FF;
  }
  .light-blue-ini {
    background-color: #DDF6FC;
    color: #11B4DB;
  }
  .yellow-ini {
    background-color: #FFEFCB;
    color: #FFB40A;
  }
  .green-ini {
    background-color: #DAF3C0;
    color: #65AC13;
  }
  .orange-ini {
    background-color: #FFDEE2;
    color: #FF631D;
  }
  .initial {
    border-radius: 5px;
    width: 28px;
    height: 28px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    line-height: 28px;
  }
  .name-num p {
    font-size: 12px;
    font-weight: 700;
    color: #000;
  }
  .name-num .num {
    font-size: 11px;
    font-weight: 400;
    color: #4A4A4A;
    margin-top: -2px;
  }
  .mess-time p {
    font-size: 11px;
  }
  .chatbot-left button {
    font-weight: 700;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 50px;
  }
  .hist-btn {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  /* chatbot left ends */

  /* chatbot right ends */
  .top-tab-act {
    background-color: #ECF2F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
  }
  .top-tab-act .nav-tabs, .top-tab-act .nav-tabs .nav-link.active {
    border-bottom: none;
    background-color: transparent;
  } 
  .action-part select {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }
  /* .sel-arr::after {
    content: '';
    position: absolute;
    display: inline-block;
    font-size: 12px;
    width: 11px;
    height: 11px;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    transform: rotate(-144deg) skew(-20deg);
  } */
  .action-part .cross {
    min-width: auto;
    width: 43px;
    height: 43px;
    padding: 0;
    margin-left: 8px;
  }
  .top-tab-act .nav-tabs .nav-link {
    padding: 20px;
  }
  .chat-user-det {
    background-color: #fff;
    padding: 10px 25px;
    height: calc(100vh - 118px);
    overflow: auto;
  }
  .chat-user-det > div {
    padding: 15px 0;
    border-bottom: 1px solid #E4E4E4;
  }
  .chat-user-det > div:last-child {
    border-bottom: none;
  }
  .chat-user-num a, .chat-user-num span {
    font-size: 11px;
    color: #4A4A4A;
  }
  .chat-user-num span {
    margin: 0 5px;
  }
  .chat-user-name {
    color: #000;
    font-weight: 700;
  }
  .chat-user-det textarea {
    background-color: #ECF2F4;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    resize: none;
    font-size: 11px;
    color: #4A4A4A;
    padding: 8px 12px;
    margin-top: 10px;
  }
  .chat-user-det textarea::placeholder {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0px;
  }
  .price-tic div {
    flex: 0 0 50%;
  }
  .chat-extra-info {
    color: #000;
    font-size: 11px;
  }
  .chat-extra-info div {
    margin-top: 15px;
  }
  .chat-extra-info label {
    margin-bottom: 2px;
  }
  /* chatbot right ends */

/* chatbot ends */

/* chetan css ends */
/******************************************************/

/*Shlok css start*/

/*******************Claim start *********************/
.claim-header-card{
  background: #ECF2F4;
}
.claim-ticket{
  padding: 14px;
  padding-left: 15px;
  margin-bottom: 0px;
  color: #5e6061;
}
.claim-A22345{
  color: #4A4A4A;
  margin-left: -8px;
}
.btn-claim{
  background-color: #2561A8;
  border-radius: 4px;
  border-color: #2561A8;
  width: 134px;
  height: 43px;
  color: white;
}
.btn-margin{
  padding-top: 5px;
  margin-left: 50px;
}
.submit-claim{
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.btn-btn-claim{
  color: #2561A8;
  background-color: transparent;
  background-image: none;
  border-color: #2561A8;
  border-radius: .25rem;
  height: 43px;
  margin-right: 6px;
}
.col-md-9-card{
  margin-left: -13px;
  flex: 0 0 75%;
  max-width: 75%;
}
.oderDetails-table{
  margin-left: 5px;
  padding-top: 9px;
}
.span-color{
  color: red;
}
.search-customer-padding{
  padding: 23px;
  padding-left: 8%;
}
.back-color{
  background-color: #F5F8F9;
  padding-top: 20px;
  margin-left: -13px;
}
.card-radius{
  border-radius: 6px;
  padding-top: 15px;
  padding-left: 7px;
}
.label-color{
  color: #6b6767;
}
.add-customer-color{
  margin-left: 235px;
  color: #4275b1;
}
.search-mobile-textbox{
  background-color: #ECF2F4;
  border-radius: 4px;
  width: 880px;
  height: 43px;
  margin-left: -15px;
  padding-left: 6px;
}
.searchImg{
  width: 20px;
  height: 20px;
  margin-top: -70px;
  margin-left: 833px;
}
.claim-status-card{
  background-color: #ECF2F4;
  width: auto;
  height: 54px;
  border-radius: 10px;
  padding: 15px;
  padding-left: 18px;
}
.line-2{
  border: 1px solid #CAD4D7;
  height: 53px;
  width: 0px;
  margin-top: -38.5px;
  margin-left: 753px;
}
.line-3{
  border: 1px solid #CAD4D7;
  height: 53px;
  width: 0px;
  margin-top: -77.6px;
  margin-left: 810px;
}
.arrow-img-1{
  width: 18px;
  height: 18px;
  margin-left: 772px;
  margin-top: -10%;
}
.plush-img-1{
  width: 18px;
  height: 18px;
  margin-left: 830px;
  margin-top: -80px;
}
.first-margin{
  margin-left: -13px;
}
.search-order{
  border-radius: 4px;
  width: 300px;
  height: 43px;
  margin-left: 27px;
  padding-left: 6px;
}
.searchImg-1{
  width: 20px;
  height: 20px;
  margin-top: -70px;
  margin-left: 833px;
}
.batashoes{
  width: 156px;
  margin-left: -11px;
}
.label-6{
    color: #4A4A4A;
    font-family: unset;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    opacity: 0.5;
    text-align: left;
}
.ticket-comments-textarea{
  background-color: #ECF2F4;
  border-radius: 4px;
  width: 860px;
  height: 123px;
}
.hr-ago{
  color: #9B9B9B;
  font-family: inherit;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.naman-R{
  color: #000000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
    margin-left: -6px;
}
.hr-ago-margin{
  margin-left: 43px;
  padding-left: 70px;
}
.margin-claim{
  margin-left: -28px;
}
.comment-02-margin{
  margin-bottom: 9px;
}
.card-radius2{
  border-radius: 6px;
  padding-top: 35px;
  padding-left: 25px;
}
/**************************************/

/* -------------Deepka Savani-------------- */

.High button{
  background-color: #FFFFFF;
  border: 1px solid #D02139;
  border-radius: 4px;   
  height: 43px;
  min-width: 67px;
}

.Low button{
  background-color: #FFFFFF;
  border: 1px solid #5AA805;
  border-radius: 4px;
  min-width: 48px;
  height: 43px;
}
.Medium button{
  background-color: #F5A623;
  border: 1px solid #F5A623;
  border-radius: 4px;
  min-width: 68px;
  height: 43px;
}

/* ----------------------------------- */

/* .mask table {
  border: none !important;
} */

.addNote-textarea::placeholder{
  color: #9B9B9B;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}
.card-header1 .row{
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px !important;

} 
/**************************************/

/********Shlok css for Historical task popup********/
/**Historical popup css start**/
.historical-model{
  border-radius: 10px;
}
.table-scrolling{
  min-height: 300px;
  overflow: auto;
  max-height: 350px;
}
/**Historical popup css edn**/

/*Progress bar in my tickeyt page*/
progress {
  /* RESETS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  width: 300px;
  height: 15px;
  border-radius: 20px;
  background-color: #777;
  color: rgb(20, 240, 221);
}

progress::-webkit-progress-bar {
  background-color: #777;
  border-radius: 20px;
}

progress::-webkit-progress-value {
  background-color: #F9B54B;
  border-radius: 20px;
}

progress::-moz-progress-bar {
  background-color: #F9B54B;
  border-radius: 20px;
}
.prog-indi-1 {
  text-align: right;
  width: 60%;
  position: relative;
  left: 2px;
}