/* Chetan CSS starts */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#chat-popup-overlay {
  padding: 20px;
  background-color: rgba(77, 92, 116, 0.6);
}
#chat-popup-overlay .styles_modal__gNwvD {
  max-width: 100%;
  width: 100%;
  padding: 0;
  /* height: calc(100vh - 40px);
  overflow: hidden; */
}
.store-chat-header {
  background-color: #2561a8;
  padding: 12px 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.store-chat-header h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.rounded-cross {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 50%;
  line-height: 1;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
.chats-heading {
  margin: 0 18px 7px;
  font-size: 16px;
}
.name-num p,
.mess-time p {
  line-height: 1.5;
}
.name-num {
  overflow: hidden;
}
.mess-time p {
  font-weight: 400;
}
.mess-time {
  text-align: right;
  white-space: nowrap;
}
.initial {
  margin-top: 0;
  flex: 0 0 28px;
}
.chat-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.chat-info {
  transition: all 0.3s ease-in;
}
.chat-info:hover {
  background-color: #ecf2f4;
}
.mobile-chat-tabs {
  display: none;
  width: 100%;
  text-align: center;
}
/* .chatbot-left {
  height: calc(100vh - 94px);
} */
/* mobile chats tab starts */
.mobile-arrow {
  filter: brightness(0) invert(1);
  display: none;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.mobile-chat-tabs .nav-tabs .nav-link {
  font-weight: 400;
  font-size: 13px;
  color: rgba(37, 97, 168, 0.4);
  padding: 6px 10px;
  border-radius: 20px;
  line-height: 1;
}
.mobile-chat-tabs .nav-tabs {
  justify-content: center;
  padding: 10px 0;
  margin: 0 15px;
  border-bottom: 1px solid rgb(37, 97, 168, 0.2);
}
.mobile-chat-tabs .nav-tabs .nav-link.active {
  background: #2561a8;
  border: 0;
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
}
.mobile-chat-tabs .tab-content {
  padding: 7px 0px 7px 15px;
}
.mobile-chat-header {
  font-weight: 700;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
}
.face-name {
  font-weight: 700;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
}
.chat-face-cntr {
  width: 50px;
  border-radius: 6px;
  overflow: hidden;
}
.chat-face-cntr img {
  width: 100%;
}
.chat-detail-outer-cntr {
  display: flex;
  margin-top: 10px;
  overflow: auto;
}
.chat-detail-outer-cntr .chat-detail-middle-cntr:last-child .chat-detail-cntr {
  margin-right: 15px;
}
.chat-detail-cntr {
  margin-right: 25px;
  position: relative;
}
.chat-detail-cntr.active .face-name {
  color: #2561a8;
}
.chat-detail-cntr.active::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 6px;
  right: -4px;
  border-radius: 50%;
  background: #45ee8e;
  border: 1px solid #fff;
}
.chatcontentdivtab .cke_inner {
  display: flex;
  flex-direction: column-reverse;
}
.mobile-ck-send {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #2561a8;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  right: 15px;
  top: 25px;
  display: none;
}
.mobile-ck-send img {
  width: 15px;
}
/* mobile chats tab ends */

/* chat trail starts */
.chat-trail-img {
  flex: 0 0 50px;
  border-radius: 5px;
  overflow: hidden;
}
.chat-trail-img img {
  width: 100%;
}
.chat-trail-chat {
  padding: 10px 20px;
  border-radius: 5px;
  border-top-left-radius: 0;
  background: #58a4ff;
  color: #fff;
}
.chatcontentDiv::-webkit-scrollbar {
  width: 6px;
}
.chatcontentDiv::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}
.chatcontentDiv::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.chatcontentDiv::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.chat-trail-cntr {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-right: 10px;
}
.chatcontentDiv .chat-trail-cntr:last-child {
  margin-bottom: 0px;
}
.chat-trail-cntr-right {
  flex-direction: row-reverse;
}
.chat-trail-chat-cntr {
  margin-top: 15px;
  margin-left: 10px;
}
.chat-trail-cntr-right .chat-trail-chat-cntr {
  margin-right: 10px;
  margin-left: 0;
}
.chat-trail-cntr-right .chat-trail-chat {
  border-top-right-radius: 0;
  border-top-left-radius: 5px;
  background: #fff;
  color: #4a4a4a;
}
.chat-trail-time {
  font-size: 12px;
  display: block;
  margin-top: 8px;
}
.chat-trail-cntr-right .chat-trail-time {
  text-align: right;
}
/* chat trail ends */

/* ck editor starts */
.cke_toolbox {
  display: flex;
  overflow: auto;
}
.cke_toolgroup {
  display: flex;
}
.cke_top {
  background: #fff !important;
  border-top: 1px solid #f0f0f0 !important;
}
/* ck editor ends */

/* Chetan CSS ends */

/* Deepak CSS starts */
.chattitlelbl {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #2561a8;
}
.chatdivtitle {
  height: 80px;
  background-color: #ecf2f4;
  width: 100%;
  height: 20%;
}

.chatcontentDiv {
  height: 300px;
  /* background-color: #F5F5F5 !important; */
  overflow: auto;
  margin: 20px;
  margin-right: 10px;
}
.chatcontentRow {
  margin: 0px;
  background-color: #f5f5f5;
  height: 40%;
  width: 100%;
  /* overflow: auto; */
}

.chatcontentdivtab {
  margin: 0;
  background-color: #ecf2f4;
  padding: 20px;
  height: 40%;
  width: 100%;
}
.chatcontentdivtab .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #2561a8;
}
.chatcontentdivtab .nav-tabs .nav-link {
  color: #000000;
  border: 2px solid #2561a8;
  box-shadow: none;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 500;
}
.chatcontentdivtab .nav-tabs {
  border: none;
}
.chatcontentdivtab .nav-item {
  margin-left: 20px;
}
.message-div {
  margin: 20px;
  position: relative;
}

.searchtxt {
  background-color: #fff !important;
  border-radius: 5px 0px 0px 5px;
  margin-left: 15px;
}
.searchtxt-span {
  background-color: #fff !important;
  border-radius: 0px 5px 5px 0px !important;
}
*:focus {
  outline: none;
}
.product-card .card {
  padding: 10px;
  margin-top: 15px;
}
.searchtxt-new .search-customerAddSrch {
  background-color: #ecf2f4;
  width: 92%;
  height: 43px;
  padding: 10px;
  border: none;
}
.bkcprdt {
  background-color: #f3f3f3;
  padding: 10px;
}
.chat-product-name {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.chat-product-code {
  font-size: 12px;
  font-weight: 500;
}
.chat-product-prize {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}
.chat-product-url {
  font-size: 12px;
  font-weight: 600;
  color: #2aa2fd;
  width: 100%;
  cursor: pointer;
}
.chat-product-img {
  width: 100%;
}

.selectdot {
  height: 25px;
  width: 25px;
  background-color: #00b894;
  border-radius: 50%;
  display: inline-block;
  float: right;
  margin-top: -20px;
  margin-right: -25px;
}
.storeUpbtn {
  background-color: #fff;
  width: 20px;
  padding: 10px;
}
.product-card {
  height: 152px;
  overflow: auto;
}
.product-card::-webkit-scrollbar {
  width: 5px;
}
.product-card::-webkit-scrollbar-track {
  background: #e9e9e9;
  border-radius: 10px;
}
.product-card::-webkit-scrollbar-thumb {
  background: #cac8c8;
  border-radius: 10px;
}
.product-card::-webkit-scrollbar-thumb:hover {
  background: #a5a3a3;
}
.product-card .col-md-4 {
  align-items: flex-end;
}
.selectdot img{
  width: 15px;
  margin: 5px;
}
.storeUpbtn img{
  width: 20px;
}
/* Responsive starts */
@media all and (max-width: 576px) {
  #chat-popup-overlay {
    padding: 0px;
  }
  .rounded-cross,
  .chatbot-left,
  .chatdivtitle {
    display: none;
  }
  .store-chat-header h3 {
    font-size: 16px;
  }
  .store-chat-header {
    justify-content: center;
  }
  .mobile-arrow,
  .mobile-ck-send,
  .mobile-chat-tabs {
    display: block;
  }

  /* right side part starts */
  .chatcontentdivtab {
    padding: 0;
  }
  .chatcontentdivtab .nav-tabs .nav-link {
    font-size: 13px;
    border: 0;
    padding: 5px 20px;
    text-transform: lowercase;
    color: #404d52;
    background: #a8b7bc;
    border-radius: 5px;
  }
  .chatcontentdivtab .nav-tabs .nav-link::first-letter {
    text-transform: uppercase;
  }
  .chatcontentdivtab .nav-tabs {
    margin: 10px 0px 10px 15px;
  }
  .chatcontentdivtab .nav-item {
    margin-left: 0;
    padding-right: 10px;
  }
  .chatcontentdivtab .nav-tabs .nav-item:last-child {
    padding-right: 15px;
  }
  .chatcontentdivtab .tab-content {
    padding: 0;
  }
  .message-div {
    margin: 0;
  }
  .chatcontentdivtab .cke_contents {
    height: 80px !important;
  }
  .chat-trail-chat {
    font-size: 12px;
    padding: 8px 15px;
  }
  .chat-trail-time {
    font-size: 10px;
  }
  .chat-trail-img {
    flex: 0 0 35px;
  }
  .chat-trail-chat-cntr {
    margin-top: 10px;
  }
  .chat-trail-time {
    margin-top: 4px;
  }
  .chat-trail-cntr {
    margin-bottom: 10px;
  }
  .chatcontentDiv {
    margin-right: 5px;
    margin-left: 15px;
    /* height: calc(100vh - 314px); */
    height: calc(100vh - 404px);
  }
  /* right side part ends */

  /* ck editor starts */
  .cke_top {
    padding: 0 !important;
    padding-right: 8px !important;
  }
  .cke_toolgroup {
    margin-bottom: 1px !important;
  }
  /* ck editor ends */
}

@media all and (max-width: 425px) {
  .chat-face-cntr {
    width: 35px;
  }
  .chat-detail-cntr {
    margin-right: 20px;
  }
  .chatcontentDiv {
    /* height: calc(100vh - 299px); */
    height: calc(100vh - 389px);
  }
}
/* Responsive ends */
