/* Chetan CSS starts */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#chat-popup-overlay {
  padding: 20px;
  background-color: rgba(77, 92, 116, 0.6);
}
#chat-popup-overlay .styles_modal__gNwvD {
  max-width: 100%;
  width: 100%;
  padding: 0;
  /* height: calc(100vh - 40px);
  overflow: hidden; */
}
.store-chat-header {
  background-color: #2561a8;
  padding: 12px 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.store-chat-header h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.rounded-cross {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 50%;
  line-height: 1;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
.chats-heading {
  margin: 0 18px 7px;
  font-size: 16px;
}
.name-num p,
.mess-time p {
  line-height: 1.5;
}
.name-num {
  overflow: hidden;
}
.mess-time p {
  font-weight: 400;
}
.mess-time {
  text-align: right;
  white-space: nowrap;
}
.initial {
  margin-top: 0;
  flex: 0 0 28px;
}
.chat-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.chat-info {
  transition: all 0.3s ease-in;
}
.chat-info:hover {
  background-color: #ecf2f4;
}
.mobile-chat-tabs {
  display: none;
  width: 100%;
  text-align: center;
}
/* .chatbot-left {
  height: calc(100vh - 94px);
} */
/* mobile chats tab starts */
.mobile-arrow {
  filter: brightness(0) invert(1);
  display: none;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.mobile-chat-tabs .nav-tabs .nav-link {
  font-weight: 400;
  font-size: 13px;
  color: rgba(37, 97, 168, 0.4);
  padding: 6px 10px;
  border-radius: 20px;
  line-height: 1;
}
.mobile-chat-tabs .nav-tabs {
  justify-content: center;
  padding: 10px 0;
  margin: 0 15px;
  border-bottom: 1px solid rgb(37, 97, 168, 0.2);
}
.mobile-chat-tabs .nav-tabs .nav-link.active {
  background: #2561a8;
  border: 0;
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
}
.mobile-chat-tabs .tab-content {
  padding: 7px 15px;
}
.mobile-chat-header {
  font-weight: 700;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
}
.face-name {
  font-weight: 700;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
}
.chat-face-cntr {
  width: 50px;
  border-radius: 10px;
  overflow: hidden;
}
.chat-face-cntr img {
  width: 100%;
}
.chat-detail-outer-cntr {
  display: flex;
  margin-top: 10px;
}
.chat-detail-cntr {
  margin-right: 25px;
  position: relative;
}
.chat-detail-cntr.active .face-name {
  color: #2561a8;
}
.chat-detail-cntr.active::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 6px;
  right: -4px;
  border-radius: 50%;
  background: #45ee8e;
  border: 1px solid #fff;
}
/* mobile chats tab ends */
/* Chetan CSS ends */

/* Deepak CSS starts */
.chattitlelbl {
  padding: 25px;
  font-size: 20px;
  font-weight: bold;
  color: #2561a8;
}
.chatdivtitle {
  height: 80px;
  background-color: #ecf2f4;
  width: 100%;
  height: 20%;
}

.chatcontentDiv {
  height: 300px;
  /* background-color: #F5F5F5 !important; */
  overflow: auto;
}
.chatcontentRow {
  margin: 0px;
  background-color: #f5f5f5;
  height: 40%;
  width: 100%;
  /* overflow: auto; */
}

.chatcontentdivtab {
  margin: 0;
  background-color: #ecf2f4;
  padding: 20px;
  height: 40%;
  width: 100%;
}
.chatcontentdivtab .nav-tabs .nav-link.active {
  color: #fff;
  border: 2px solid #2561a8;
  box-shadow: none;
  border-radius: 10px;
  background-color: #2561a8;
  font-weight: 500;
}
.chatcontentdivtab .nav-tabs .nav-link {
  color: #000000;
  border: 2px solid #2561a8;
  box-shadow: none;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 500;
}
.chatcontentdivtab .nav-tabs {
  border: none;
}
.chatcontentdivtab .nav-item {
  margin-left: 20px;
}
.message-div {
  margin: 20px;
}

/* Responsive starts */
@media all and (max-width: 576px) {
  #chat-popup-overlay {
    padding: 0px;
  }
  .rounded-cross,
  .chatbot-left {
    display: none;
  }
  .store-chat-header h3 {
    font-size: 16px;
  }
  .store-chat-header {
    justify-content: center;
  }
  .mobile-arrow,
  .mobile-chat-tabs {
    display: block;
  }
}
/* Responsive ends */
